*{
	margin: 0;
	padding: 0;
	font-family: century gothic;
}

header{
	background-image: url(../2.jpeg);
	height: 100vh;
    background-size: cover;
     background-position: center;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.title{
    position: absolute;
    top: 60%;
    left: 33%;
    margin: 15PX;
    transition: translate;
    color: #33CCFF;
}
.title h1{
    color: #33CCFF;
    font-size: 70px;
   
}
ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 2px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;

}