*{
	margin: 0;
	padding: 0;
	font-family: century gothic;
}

header{
	background-image: url(../1.jpg);
	height: 100vh;
    background-size: cover;
     background-position: center;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 2px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;

}
form table{
	background-size: cover;
	width: 300px;
	margin-top: 25%;

}
td{
	color: #fff;
	transition: 0.6s ease;
}
form{
	direction: center;
	float: right;
}
.title{
    position: absolute;
    top: 80%;
    left: 33%;
    transition: translate;
}
.title h1{
    color: #fff;
    font-size: 70px;
}
input{
	color: #000;
}
.button{
    position: absolute;
    top: 45%;
    left: 85%;
    transition: translate;
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}