*{
    margin: 0;
    padding: 0;
    font-family: century gothic;

}

header{
    background-image: url(../1.jpg);
    height: 100vh;
    background-size: cover;
     background-position: center;    

}
ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 2px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;

}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 33%;
    transition: translate;
}
.title h1{
    color: #4785d6;
    font-size: 70px;
    transition: translate;
}